include ../../.public/pug/mixin
+head(title="网页标题", mobile=true, rem=750, import=true, jquery=true)
body
	.baaner
		.badge
	.bottom
		.bottom-left.fl-l
			.box-title 会场内外
				a.more-right(href="javascrit: void(0);") 更多
			ul.content-list
				li.content-list-li 新中国峥嵘岁月｜加快构建中国特色哲学社会科学
				li.content-list-li 问答70年”，为何《我的祖国》成为最感人的歌？
				li.content-list-li 新中国峥嵘岁月丨统一全党思想、推动全面调整1963年：石油基本自给
		.bottom-right.fl-r
			.box-title 媒体报道
				a.more-right(href="javascrit: void(0);") 更多