@import '../../../.public/styles/mixins.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: '微软雅黑';
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}
button{
  border:0;background:none;padding:0;
}
a,button,label,select,input{outline: none;}
textarea,input[type="text"],input[type="tel"]{
  -moz-appearance:none;
  -webkit-appearance: none;
  appearance:none;
}

.clearfix{
  &:before{display: table;content: " ";}
  &:after{display: table;content: " ";clear: both;}
}
.fl-l{float:left;}
.fl-r{float:right;}
/*
title 样式
*/
.box-title{
  height: 58px;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #bda27a;
  text-indent: 4px;
  color: #cb0000;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  @include cover('title-bg.png', '190px 19px', '0 bottom');
  .more-right{
    position: absolute;
    margin: 36px 4px 0 0;
    right: 0;
    color: #999;
    font-size: 14px;
  }
}
/*
请开始你的表演
 */
.baaner{
  width: 100%;
  height: 500px;
  position: relative;
  @include cover("banner.jpg");
  .baaner-img{
    position: absolute;
    width: 100%;
    display: block;
    height: auto;
    top: 0;
    left: 0;
  }
  .badge{
    position: absolute;
    left: 0;
    right: 0;
    margin: 60px auto 0;
    width: 66px;
    height: 68px;
    @include cover("badge.png")
  }
}
/*
图片 板块
*/
.picture{
  width: 1168px;
  margin: 0 auto;
}
/*
文章 板块
article1 | 会议动态 & 工作报告
article2 | 会场内外 & 媒体报道
*/
.article1,
.article2{
  margin: 0 auto;
  width: 1164px;
  padding: 82px 0 74px;
  overflow: hidden;
  .article1-left,
  .article1-right,
  .article2-left,
  .article2-right{
    width: 553px;
    .content-list{
      color: #333;
      font-size: 16px;
      padding-top: 36px;
      .content-list-li{
        position: relative;
        text-indent: 28px;
        height: 47px;
        line-height: 47px;
        @include nowrap();
        a{
          color: #333;
        }
        &:before{
          position: absolute;
          left: -26px;
          top: -2px;
          content: "·";
          font-size: 60px;
          color: #cb0000;
        }
      }
    }
  }
  .article1-right,
  .article2-right{
    width: 550px;
  }
  .article1{
    padding: 62px 0 38px;
  }
}