mixin head
    head
        meta(charset="utf-8")
        - if(attributes.mobile)
            meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        - if(attributes.title)
            title=attributes.title
        - if(attributes.import&&!attributes.nomain)
            link(rel="stylesheet" href="res/styles/bundle.css?v=")
        - if(attributes.jquery&&!attributes.nomain)
            script(src="res/scripts/jquery.min.js?v=")
        - if(attributes.import&&!attributes.nomain)
            script(src="res/scripts/bundle.js?v=")
            